@charset "shift_jis";
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
html {
    color:#4C4C4C;
    font-family: "Hiragino Sans", "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic Pro','ƒƒCƒŠƒI', Meiryo,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
    line-height: 0;
    border: 0;
    display: inline;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
a {
    -webkit-tap-highlight-color: transparent;
    color: #FFF;
}
strong {
    font-weight: bold;
}
ol,ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,th,td {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
blockquote:before,blockquote:after,
q:before,q:after {
    content: "";
}
blockquote,q {
    quotes: "" "";
}
a:focus {
    overflow: hidden;
}
option {
    padding-right: 10px;
}
header,article,aside,section,footer,
nav,menu,details,hgroup,summary {
    display: block;
}