<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>UFP -UTEC Founders Program-</title>
	
    <link rel="SHORTCUT ICON" href="./img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <meta name="viewport" content="width=device-width,intial=1">
	
	<!--OGP-->
	<meta property="og:title" content="UFP -UTEC Founders Program-" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="UTECが新たに立ち上げたシード期のサイエンス＆テクノロジー系のスタートアップに対してスケールアップも見据えた支援を迅速に意思決定・支援するプログラムです。" />
	<meta property="og:url" content="https://ufp.jp/" />
	<meta property="og:site_name" content="UFP" />
	<meta property="og:image" content="https://ufp.jp/img/main_visual.jpg" />
	
	<!--- ファビコン --->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	
	<!--- notosans font --->
	<link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">
</head>
	
	
	
	
<body>
	
	<ul>
		<%_ for (var i = 1; i <= 3; i++) { _%>
		  <li><%= i %></li>
		<%_ } _%>
	</ul>

</body>
</html>
